/* src/components/Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color:000000;
  color: #fff;
}

.logo {
  margin-right: 20px;
}

.logo img {
  height: 50px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

.nav-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

.company-name {
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
}

.company-name a {
  color: #fff;
  text-decoration: none;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

/* Responsive design for mobile devices */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
  .menu-icon {
    display: block;
  }
}